{
  "version": "{{ .Version }}",
  "description": "{{ .Description }}",
  "homepage": "{{ .Homepage }}",
  "license": "{{ .License }}",
  "architecture": {
    "64bit": {
      "url": "{{ .BaseURL }}/tt_windows_amd64.zip",
      "hash": "{{ .SHA256.WindowsAmd64 }}"
    }
  },
  "bin": "tt.exe",
  "checkver": {
    "github": "{{ .GitHubRepo }}"
  },
  "autoupdate": {
    "architecture": {
      "64bit": {
        "url": "{{ .BaseURL }}/tt_windows_amd64.zip"
      }
    }
  }
}
